# macOs files
**/.DS_Store

# C++ config files
**/config.h

# SPIFFS upload folder
**/www/

# Parse project files
**/parse-server/public
**/parse-server/.parse.local
**/parse-server/.parse.project

# npm files
node_modules
package-lock.json
npm-debug.log*

# builds
**/build
**/dist

# env files
.env
.env.local
.env.production
.env.stage

# test data
**/data-db

# editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*