// WiFi settings
const char *WIFI_SSID_1 = "YOUR SSID";
const char *WIFI_PSK_1 = "YOUR PRE SHARED KEY";
const char *WIFI_SSID_2 = "YOUR SSID";
const char *WIFI_PSK_2 = "YOUR PRE SHARED KEY";

// Parse settings
const char *APPLICATION_ID = "YOUR APPLICATION_ID";
const char *CLIENT_KEY = "YOUR CLIENT_KEY";

// loop interval in ms
const uint16_t LOOP_INTERVAL = 20 * 1000;

// mock sensor data
const bool USE_MOCK_DATA = true;